.linksbutton{
    color: white;
    text-align: center; 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    background-color: rgb(185, 67, 21);
    border-top: 100px;
    padding-bottom: 12vw;
    padding-top: 12vw;
    padding-right: 12vw;
    padding-left: 12vw;
}

.linksbutton:hover{
   position:initial;
   background-color: rgb(13, 4, 1);
   transition:0.5s;
   font-size: 1.2vw;
   cursor: pointer;
}

.lb{
    margin-top: 20vw;
}

  
  .Info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Info input{
    width:300px;
    height: 50px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .Info button{
    width:340px;
    height: 50px;
    font-size: 20px;
    margin-top: 15px;
  }
  .Info button:hover{
    cursor:pointer;
    
  }